.header {

    height: 80px;
    background-color: black;
    text-align: center;
    font-size: 30px;
    font-family: inherit;

}

.headBanner {
    height: 100px;
    width: 1100px;
    transform: translate(0px, 1px);
}

body {
    width: 920px;
    background-color: black;
    background-image: url("assets/backgroundtest2.jpg");
    margin-left: 300px;
    margin-top: 30px;

}



.navigationBar {
    transform: translate(-25px, 20px);
    width: 630px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    height: 40px;


}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.searchBar {
    transform: translate(390px, -10px);
    background-color: gray;
    border: solid;
    border-color: #333333;
}

.searchButton {
    transform:translate(400px, -10px);
    background-color: gray;
    border: solid;
    border-color: #333333;
}

.moonPic {
    height: 100px;
    width: 100px;
    transform: translate(750px, -107px);
}

.spacePic {
    height: 100px;
    transform: translate(-470px, -105px);
}

.articlePic {
    height: 200px;
    transform: translate(170px, 17px);
}

.sourceNebel {
    transform: translate(520px, -240px);
    background-color: gray;
    height: 30px;
    width: 30px;
}

.container {
    border: outset;
    border-color: #111111;
    border-width: 10px;
    background-color: #333333;
    transform: translate(618px, -45px);
    height: 400px;
    width: 550px;
}

h2 {
   text-align: center;
    color: white;
}

p {
    color: white;
    margin: 20px;
}

.slides {
    display: none;
    width: 100%;
}

.animate-left {
    position: relative;
    animation: animateleft 0.8s
}

@keyframes animateleft {
    from { left :-500px; opacity:0 }
    to { left:0; opacity:1 }
}

.simpleSlides {
    background-color: #333333;
    border: solid;
    border-color: #333333;
    border-width: 50px;
    border-left-width: 250px;
    transform: translate(-25px, -400px);
    height: 260px;
    width: 300px;
}

.headSlides {
    height: 50px;
    width: 600px;
    background-color: #333333;
    transform: translate(-25px, -430px);

}

h3 {
    transform: translate(300px);
    font-size: 30px;
    color: aliceblue;
}

h4 {
    color: aliceblue;
    font-size: 66px;
    text-align: center;
    transform: translate(0px, 30px);
}

.bannerPic {
    border: solid;
    border-color: black;
    border-width: 10px;
    transform: translate(-25px, -385px);
    height: 500px;
    width: 1200px;

}

.planetsPart {
    background-color: black;
    height: 150px;
    width: 1220px;
    transform: translate(-25px, -480px);
}

.containerPlanets {
    transform: translate(-25px, -470px);
    display: grid;
    grid-template-rows: 405px 405px;
    grid-template-columns: 33% 33% 33%;
    height: 820px;
    width: 1215px;
}

.planetOne {
    background-color: #333333;
    height: 405px;
    border: solid;
    border-color: black;
    border-width: 5px;
}

h5 {
    font-family: "DejaVu Sans";
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    color: aliceblue;
    transform: translate(0px, -50px);
}

.planetPicOne {
    height: 200px;
    width: 200px;
    transform: translate(100px, -80px);
}

.planetInfo {
    text-size: 50px;
    transform: translate(15px, -70px);
}

.sourcePlanets {
    background-color: gray;
    height: 30px;
    width: 30px;
    transform: translate(1180px, -50px);
}

.planetInfoTwo {
    transform: translate(0px, -90px);
}

.headLongName {
    font-size: 30px;
}

.headNebula {
    text-align: center;
    height: 150px;
    width: 1220px;
    background-color: black;
    transform: translate(-35px, -550px);
}

.cosmicNebula {
    transform: translate(-35px, -535px);
    background-color: #333333;
    height: 1000px;
    width: 1220px;
}

.nebulaPic {
    transform: translate(20px, 10px);
    height: 400px;
    width: 600px;
}

.nebulaPic2 {
    transform: translate(600px, -435px);
    height: 400px;
    width: 600px;
}

.howToNebula {
    transform: translate(100px);
    color: aliceblue;
    font-size: 50px;

}

.nebulaDescr {
    color: darkgrey;
    font-size: 35px;
}

.nebulaDescr2 {
    transform: translate(610px, -420px);
    color: darkgrey;
    font-size: 35px;
}

.nebulaDescr3 {
    transform: translate(0px,-850px);
    color: darkgrey;
    font-size: 35px;
}

.whatNebula {

    transform: translate(635px, -420px);
    color: aliceblue;
    font-size: 50px;

}

.satPic {
    transform: translate(-35px, -530px);
    height: 500px;
    width: 1220px;
}

.techPic {
    transform: translate(50px, 100px);
    height: 400px;
    width: 500px;
}

.techOne {
    transform: translate(-35px, -480px);
    background-color: #333333;
    height: 600px;
    width: 700px;
}

.headTech {
    font-size: 20px;
}

.showMore {
    transform: translate(100px, -100px);
    background-color: gray;
    height: 50px;
    width: 50px;
}

.moreTech {
    visibility: hidden;
    transform: translate(750px, -535px);
    background-color: #333333;
    height: 600px;
    width: 400px;
}

.firstTel {
    font-size: 50px;
    color: ghostwhite;
    text-decoration: underline;
    text-align: center;
}

.closeButton {
    transform: translate(340px, -170px);
    background-color: #333333;
    color: gray;
    border: solid;
    border-color: #333333;
    width: 60px;
    font-size: 45px;
}

.techTwo {
    transform: translate(0px, -480px);
    background-color: #333333;
    height: 600px;
    width: 700px;
}

.moreTech2 {
    visibility: hidden;
    transform: translate(750px, -520px);
    background-color: #333333;
    height: 600px;
    width: 400px;
}



.techThree {
    transform: translate(0px, -450px);
    background-color: #333333;
    height: 600px;
    width: 700px;
}

.moreTech3 {
    visibility: hidden;
    transform: translate(750px, -522px);
    background-color: #333333;
    height: 600px;
    width: 400px;
}

.goes16 {
    transform: translate(70px, 100px);
    height: 400px;
    width: 500px;
}

.goes16Two {
    transform: translate(50px, -40px);
}

.moreParag {
    transform: translate(0px, -150px);
}

.moreParagTwo {
    transform: translate(0px, -80px);
}

.osam1 {
    transform: translate(70px, 100px);
    height: 400px;
    width: 500px;
}

.moreParagThree {
    transform: translate(0px, -80px);
}

.osam2 {
    transform:translate(50px, -70px);
    height: 150px;
    width: 300px;
}